<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wookie.Menu.Properties.Settings.BS_PM_MasterConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=BS_PM_Master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>